<h1>Create Account</h1>

<% if @bank.errors.any? %>
<h2>The following erros prevented the articles from getting created</h2>
<ul>
	<% @bank.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @bank do |f| %>
	<p>
		<%= f.label :username %><br/>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :balance %><br/>
		<%= f.number_field :balance %><br/>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>