<h1>Sign up</h1>
<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
<% end %>


<%= form_for @user, :html => {class: "form-horizontal", role: "form"} do |f| %>
	<div>
		<div>
			<%= f.label :username %><br/>
		</div>
		<div>
			<%= f.text_field :username, class: "form-control", placeholder: "Enter username" %>
		</div>
	</div>
	<div>
		<div>
			<%= f.label :password %><br/>
		</div>
		<div>
			<%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter password" %>
		</div>
	</div>
	<div>
		<div>
			<%= f.label :balance %><br/>
		</div>
		<div>
			<%= f.number_field :balance, class: "form-control", autocomplete: "off", placeholder: "Enter balance" %>
		</div>
	</div>
	<div c>
		<div>
			<%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
<% end %>
